// shoould use a reset css

.material_card {
  color: $fg_dark_main_color;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: white;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  h2 {
    font-weight: 300;
  }


  .material_card-thumbnail {
    position: relative;
    flex-grow:1;
    min-width:$card_thumb_min_width;
    min-height:$card_thumb_min_heigth;

    background-color: black;
    background-position: center!important;
    background-size: cover!important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    .material_card-title  {

        position: absolute;
        bottom: 0;
        left: 0;

      h2 {
        color: white;
        margin: 10px 0px 10px 10px;
        text-shadow: 1px 1px 4px rgba(50, 50, 50, 1),
                     1px -1px 4px rgba(50, 50, 50, 1),
                     -1px 1px 4px rgba(50, 50, 50, 1),
                     -1px -1px 4px rgba(50, 50, 50, 1);
      }
    }

    &.material_card-video {
      min-height: 0!important;
      height: auto!important;//the video will define the height
    }
    .video_placeholder {
      .video {
        display:inline-block;
        vertical-align:middle;
        margin: auto;
        position: relative;
        min-height: 0;
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
        background-position: center!important;
        background-size: cover!important;
        .player {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .material_card-content {
    flex-grow: 1;
    flex-grow: 5;
    flex-basis: 0;
    min-width: $card_content_min_width;
    //------------
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .material_card-title {
      padding: 1rem 1rem 0 1rem;
      h2 {
        margin: 0;
      }
    }
    .material_card-excerpt {
      flex-grow: 1;
      padding: 1rem;
    }
  }

  .material_card-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .material_card-spacer {
      flex-grow: 1;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      flex-shrink: 0;
      padding: 5px;
      margin: 5px;
    }
  }

  .material_card-play-icon {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 100px !important;
    margin-left: -50px;
    margin-top: -50px;
    cursor: pointer;
  }
}
